.DS_Store
.ipynb_checkpoints
*/test-env/*
*.err
.vscode/
__pycache__/
build/
*.egg-info
*.bin
*.fzz
dist/
.clang-format
docs/_build/*
docs/readme.rst
deptree.txt
.venv/*
*.log
*.csv
benchmark/data/*
.pep8
*.tex
dev.*