[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.1.1"
panel = "==1.4.5"
jupyter-bokeh = "==4.0.5"
bitarray = "==3.0.0"
notebook = "==7.2.2"
websockets = "==12.0"
bokeh = "==3.4.3"
ipykernel = "==6.29.5"
nest-asyncio = "==1.6.0"
aiofiles = "==24.1.0"
pybela = {editable = true, path = "."}
paramiko = "==3.5.0"
numpy = "==1.26.0"

[dev-packages]
twine = "*"
pip-chill = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
build = "*"

[scripts]
test = "python test/test.py"
test-send = "python test/test-send.py"

[requires]
python_version = "3.9"
