[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
panel = "*"
jupyter-bokeh = "*"
bitarray = "*"
notebook = "*"
websockets = "*"
bokeh = "*"
ipykernel = "*"
nest-asyncio = "*"
aiofiles = "*"
pybela = {editable = true, path = "."}
paramiko = "*"
numpy = "==1.26"

[dev-packages]
twine = "*"
pip-chill = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
build = "*"

[scripts]
test = "python test/test.py"
test-send = "python test/test-send.py"

[requires]
python_version = "3.9"
