[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.1.1"
bitarray = "==3.0.0"
notebook = "==7.2.2"
websockets = "==14.1"
ipykernel = "==6.29.5"
nest-asyncio = "==1.6.0"
aiofiles = "==24.1.0"
pybela = {editable = true, path = "."}
paramiko = "==3.5.0"
numpy = "==1.26.0"
bokeh = "==2.4.3"
panel = "==0.14.4"
jupyter-bokeh = "==3.0.5"
pandas = "==2.2.3"

[dev-packages]
twine = "*"
pip-chill = "*"
sphinx = "==7.4.7"
sphinx-rtd-theme = "==3.0.2"
build = "*"
pipdeptree = "*"

[scripts]
test = "python test/test.py"
test-send = "python test/test-send.py"

[requires]
python_version = "3.9"
